body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin-left: 300px;/*space for navbar*/
}



.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.schedule-pickup {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
  font-size: 0.9em;
  transition: opacity 0.5s ease;
}

.confirm-pickup-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.confirm-pickup-btn:hover {
  background-color: #0056b3;
}